In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os

# Añadimos la carpeta "utils" al path para poder importar nuestros módulos propios
sys.path.append("../utils")

import toolbox_ML as tb
import bootcampviztools as bt

pd.set_option('display.max_columns', None)
sns.set(style="whitegrid")

In [18]:
df = pd.read_csv("../data_sample/survey.csv")
df.columns = df.columns.str.lower()
display(df)

,timestamp,age,gender,country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,2014-08-27 11:29:44,32,Male,Canada,NaN,NaN,No,No,Rarely,6-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,2014-08-27 11:29:46,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1254,2015-09-12 11:17:21,26,male,United Kingdom,NaN,No,No,Yes,NaN,26-100,No,Yes,No,No,No,No,Don't know,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,Yes,Yes,Yes,Yes,No,No,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,Yes,Yes,No,Yes,No,No,Don't know,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,No,No,Yes,Yes,No,No,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [19]:
tb.describe_df(df)

,timestamp,age,gender,country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
DATA_TYPE,object,int64,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object,object
MISSINGS (%),0.0,0.0,0.0,0.0,40.905481,1.429706,0.0,0.0,20.969023,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,86.973789
UNIQUE_VALUES,1246,53,49,48,45,2,2,2,4,6,2,2,3,3,3,3,3,5,3,3,3,3,3,3,3,2,160
CARDIN (%),98.97,4.21,3.89,3.81,3.57,0.16,0.16,0.16,0.32,0.48,0.16,0.16,0.24,0.24,0.24,0.24,0.24,0.4,0.24,0.24,0.24,0.24,0.24,0.24,0.24,0.16,12.71

In [21]:
df.gender.value_counts()

gender
Male                                              615
male                                              206
Female                                            121
M                                                 116
female                                             62
F                                                  38
m                                                  34
f                                                  15
Make                                                4
Male                                                3
Woman                                               3
Cis Male                                            2
Man                                                 2
Female                                              2
Female (trans)                                      2
Male-ish                                            1
Trans-female                                        1
Male (CIS)                                          1
Mal                                                 1
Cis Female                                          1
something kinda male?                               1
maile                                               1
woman                                               1
Femake                                              1
queer/she/they                                      1
Enby                                                1
fluid                                               1
Genderqueer                                         1
Androgyne                                           1
Agender                                             1
Nah                                                 1
All                                                 1
non-binary                                          1
male leaning androgynous                            1
Guy (-ish) ^_^                                      1
cis-female/femme                                    1
Trans woman                                         1
msle                                                1
Neuter                                              1
queer                                               1
Female (cis)                                        1
Mail                                                1
cis male                                            1
A little about you                                  1
Malr                                                1
p                                                   1
femail                                              1
Cis Man                                             1
ostensibly male, unsure what that really means      1
Name: count, dtype: int64

In [5]:
df.no_employees.value_counts().index

Index(['6-25', '26-100', 'More than 1000', '100-500', '1-5', '500-1000'], dtype='object', name='no_employees')

In [6]:
df.benefits.value_counts()

benefits
Yes           477
Don't know    408
No            374
Name: count, dtype: int64

In [7]:
df.benefits.value_counts()

benefits
Yes           477
Don't know    408
No            374
Name: count, dtype: int64

In [8]:
df.wellness_program.value_counts()

wellness_program
No            842
Yes           229
Don't know    188
Name: count, dtype: int64

In [9]:
df.seek_help.value_counts()

seek_help
No            646
Don't know    363
Yes           250
Name: count, dtype: int64

In [10]:
df.anonymity.value_counts()

anonymity
Don't know    819
Yes           375
No             65
Name: count, dtype: int64

In [11]:
df.leave.value_counts().index

Index(['Don't know', 'Somewhat easy', 'Very easy', 'Somewhat difficult',
       'Very difficult'],
      dtype='object', name='leave')

In [12]:
df.mental_health_consequence.value_counts()

mental_health_consequence
No       490
Maybe    477
Yes      292
Name: count, dtype: int64

In [13]:
df.phys_health_consequence.value_counts()

phys_health_consequence
No       925
Maybe    273
Yes       61
Name: count, dtype: int64

In [14]:
df.coworkers.value_counts()

coworkers
Some of them    774
No              260
Yes             225
Name: count, dtype: int64

In [15]:
df.supervisor.value_counts()

supervisor
Yes             516
No              393
Some of them    350
Name: count, dtype: int64

In [16]:
df.mental_health_interview.value_counts()

mental_health_interview
No       1008
Maybe     207
Yes        44
Name: count, dtype: int64

In [17]:
df.mental_vs_physical.value_counts()

mental_vs_physical
Don't know    576
Yes           343
No            340
Name: count, dtype: int64